.btn-small-search {
    background-color: rgb(200, 198, 198);
   
}
#btn-small-search-form {
    top: 90px;
    z-index: 1000;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
 
}